*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

#navbar{
  background: #442a00;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.navbar-brand img {
  position: absolute;
  z-index: 100;
  top: -20px;
  left: 20px;
  height: 120px;
}

.navbar-toggler {
  background-color: #fff !important;
  border-color: #000;
}

.nav-item .nav-link{
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: 0.15s;
}

.nav-item .nav-link:hover{
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

#navbar input{
  background: white;
  border-radius: 50px;
  border: white;
  color: rgb(0, 0, 0);
}

#btn{
  border-radius: 5px;
  padding: 5px;
  border: none;
  background: transparent;
  transition: 0.15s;
  margin-bottom: 5px;
}

#btn:hover{
  color: white;
  transition: 0.15s;
}

/* css do dropdown para as receitas*/
.dropdown-menu {
  background-color: #5b3b1e;
  border: none;
}

.dropdown-menu .dropdown-item {
  color: rgb(0, 0, 0);
  font-size: 16px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #3b2600;
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-item.dropdown .nav-link:focus,
.navbar-nav .nav-item.dropdown .nav-link:hover {
  color: white; 
}

#inicio .btn:hover {
  background-color: #5b3b1e;
  color: white;
  text-decoration: underline
}

.imagemReceita img {
  width: 350px;
  height: auto;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.maisSugestoes {
  background-color: #dfdfdf;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  height: 200px;
  object-fit: cover;
}

/* DENTRO DA PÁGINA DA RECEITA - BOTÕES */
.btn-print, .btn-copy, .btn-download{
  background-color: #5b3b1e; 
  color: white; 
  padding: 12px 25px; 
  font-size: 1.2rem;
  border: none; 
  border-radius: 8px; 
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.btn-print:hover, .btn-copy:hover, .btn-download:hover{
  background-color: #7e4d34;
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #353332;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.tooltip-text::after { /*seta no tooltip*/
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color:  transparent transparent #353332 transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media print {
  body * {
    visibility: hidden; /* Esconde o que não se quer imprimir */
  }

  #parteImprimir, #parteImprimir * {
    visibility: visible; /* Mostra apenas a secção que queremos imoprimir */
  }

  #parteImprimir {
    position: absolute;
    top: 0;
    left: 0;
  }
}

